{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="347029058932-u9t5hv4a3e7v2u162hdnjgnjuu1frda0.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Nuggets Login</title>
</head>
<body>

    <div>
        <img src="{% static "nuggets/nuggets_logo.png" %}"/>
    </div>

    <h3 id="displayText">Remember everything you learn!</h3>


    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="light"></div>

    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        let profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        let id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);

        // TODO:call this API with ^ in body url api/v1/authenticate$

        // Successful login - let's also change text
        document.getElementById("displayText").innerHTML = "Successfully authenticated! You can continue using Nuggets now.";

        // meanwhile, use hardcoded creds:
        passTokenToChromeExtension({user_id: 44, token: "IlMuIi2mFtaWx5X25hbWUiOiJHLiIsImx2vY2FsZSI6Im", email: "chivagarg4@gmail.com"});
      }


      function passTokenToChromeExtension(context) {
        // This will be stable once published in the app store.
        // For now, points to shiva's dev chrome ext id.
        var extensionId = "pecocjibbceeifnjjehnjljphkobkcib";
        chrome.runtime.sendMessage(extensionId, {nuggetsMessage: context},
          function(response) {
            console.log("Message sent");
            console.log(response);
            // if (!response.success)
            //  handleError(url);
          });
      }


    </script>

</body>
</html>