{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="347029058932-u9t5hv4a3e7v2u162hdnjgnjuu1frda0.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Nuggets Login</title>
</head>
<body>

    <div>
        <img src="{% static "nuggets/nuggets_logo.png" %}"/>
    </div>

    <h3 id="displayText">Remember everything you learn!</h3>

    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="light"></div>

    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        let profile = googleUser.getBasicProfile();
        // The ID token you need to pass to your backend:
        let id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);

        const body = {
            id_token: id_token,
            email: profile.getEmail(),
            first_name: profile.getGivenName(),
            last_name: profile.getFamilyName(),
            profile_url: profile.getImageUrl(),

        };

        console.log("Email: " + profile.getEmail());
        console.log("first_name: " + profile.getGivenName());

        const xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://nuggets-service.herokuapp.com/api/v1/authenticate');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            let resp = JSON.parse(xhr.responseText);

            // Successful login - let's also change text
            document.getElementById("displayText").innerHTML = "Successfully authenticated! You can continue using Nuggets now.";

            passTokenToChromeExtension({user_id: resp.user_id, token: resp.token});
        };
        xhr.send(JSON.stringify(body));
      }

      function passTokenToChromeExtension(context) {
        // This will be stable once published in the app store.
        // For now, points to shiva's dev chrome ext id.
        //var extensionId = "pecocjibbceeifnjjehnjljphkobkcib";
        var extensionId = "eemfhojdlndnlmdfhahfaoejhalbcbja";
        chrome.runtime.sendMessage(extensionId, {nuggetsMessage: context},
          function(response) {
            console.log("Message sent");
            console.log(response);
            // if (!response.success)
            //  handleError(url);
          });
      }
    </script>

</body>
</html>