.header-logo
{

}

.signup-page
{
	background: #ededed;
}

.signup-page .header-logo
{
    background-image: url(/i/v_la_croix/pocket_firefox_logo_large@2x.png);
    background-size: 140px 35px;
	height: 35px;
    float: none;
    width: 140px;
    margin: 0.25em auto 4rem;
}

.signup-page .card-title
{
	border-bottom: 1px solid #ebebeb;
    font-size: 1.875em;
    line-height: 1.3;
    padding-bottom: 0.4em;
}

.signup-page .card {
    float: none;
    margin: 0 auto 10px;
}